<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,
                initial-scale=1" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/nav.css">
    <title>Lewis de Zoete Grundy</title>
</head>

<body data-page="projects">
<!-- Nav bar -->
<div id="nav"></div>

<main class="page">
  <!-- Back link -->
    <a href="/projects/recipes/recipes.html" class="back-link">← Back to recipes</a>

    <!-- Recipe article -->
    <article id="recipe">
        <!-- Title -->
        <h1 class="recipe-title"></h1>
        <p class="recipe-intro"></p>

        <!-- Meta info section -->
        <section class="recipe-meta">
            <ul>
                <li><strong>Serves:</strong> <span data-field="serves"></span></li>
                <li><strong>Prep Time:</strong> <span data-field="prep_time"></span></li>
                <li><strong>Cook Time:</strong> <span data-field="cook_time"></span></li>
            </ul>
        </section>

        <!-- Ingredients -->
        <section>
            <h2>Ingredients</h2>
            <ul class="ingredients-sections"></ul>
        </section>

        <!-- Instructions -->
        <section>
            <h2>Instructions</h2>
            <ol class="instructions-sections"></ol>
        </section>

        <section id="notes">
            <h3>Notes</h3>
            <ol class="notes-text"></ol>
        </section>

        <!-- Macros / Nutrition -->
        <section class="macros">
            <h3>Macros (per serving)</h3>
            <ul class="macros-list"></ul>
        </section>
    </article>
</main>

<!-- SCRIPTS -->
<script src="/assets/js/nav.js"></script>
<script src="/assets/js/recipe_page.js"></script>
</body>
</html>
